<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    {{ include('shared.head') }}
    <title>{{ trans('auth.register.title') }} - {{ site_name }}</title>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{{ url('/') }}">{{ site_name }}</a>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">
            {{ trans('auth.register.message', {sitename: site_name}) }}
          </p>
          <form method="post">
            {{ csrf_field() }}
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="{{ trans('Blessing\\Eduroam::eduroam.front-end.user') }}" name="user" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user-graduate"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="{{ trans('Blessing\\Eduroam::eduroam.front-end.password') }}" name="password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="{{ trans('Blessing\\Eduroam::eduroam.front-end.qq') }}" name="qq" pattern="\d+" required>
              <div class="input-group-append">
                <div class="input-group-text">
		              <b>@qq.com</b>
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            {{ include(register_with) }}
            <div class="d-flex" id="captcha"></div>
            <div class="alert alert-warning" style="display:none;" id="warning">
              <i class="icon fas fa-exclamation-triangle"></i>
              <span id="warning-text">
              </span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <a href="/auth/login">{{ trans('front-end.auth.login-link') }}</a>
              <button id="loginButton" class="btn btn-primary" type="submit">{{ trans('front-end.auth.register') }}</button>
            </div>
          </form>
          {% if return_register is not null %}
              {{ include(return_register) }}
          {% endif %}
        </div>
      </div>
    </div>
    <script id="blessing-extra" type="application/json">
      {{ extra|json_encode|raw }}
    </script>
    {{ include('shared.foot') }}
  </body>
</html>




